<h1>Your order</h1>
  <% if @order.any? %>
    <table>
      <thead>
        <tr>
          <th>Order_id</th>
          <th>Adress</th>
          <!-- <th>Price</th> -->
          <!-- <th>Total</th> -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% total_amount = 0 %>
        <% @order.each do |order| %>
          <tr>
            <td> <%= order.id%></td>
            <td> <%= order.address %></td>

               <td><%= link_to 'Show', order_path(order), class: 'btn-show', method: :get %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Continue Shopping', dishes_path %>


 <% end %>
