
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    h1 {
      font-size: 24px;
      color: #007bff;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    label {
      margin-top: 10px;
      font-size: 16px;
      color: #000;
    }

    input {
      width: 300px;
      padding: 8px;
      margin-top: 5px;
      font-size: 14px;
    }

    button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 10px;
    }

    button:hover {
      background-color: #0056b3;
    }

    a {
      text-decoration: none;
      color: #007bff;
      margin-top: 10px;
      font-size: 16px;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>


<body>
  <h1>New Order</h1>

  <%= form_with url: orders_path, method: :post, local: true do |f| %>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div>
      <%= f.submit 'Place Order' %>
    </div>
  <% end %>
</body>

