<%= javascript_include_tag 'https://checkout.razorpay.com/v1/checkout.js' %>
<script>
  var options = <%= @razorpay_options.to_json.html_safe %>;
  var rzp = new Razorpay(options);
  rzp.on('payment.success', function(response) {
    // Handle success, update order status, etc.
    window.location.href = "<%= orders_path %>"; // Redirect to the order success page
  });
</script>
<button id="payment-button">Pay with Razorpay</button>
