
<h1>Restaurant details</h1>

<p> Restaurants Name: <%=@restaurant.name %> </p>
<p> Status: <%= @restaurant.status %></p>
<p> Address:<%=  @restaurant.address %> </p>
<%= link_to "Back", restaurants_path %>
